<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%style{[%d{yyyy-MM-dd HH:mm:ss}]}{cyan} %highlight{[%-5level]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue} %style{[%-22t]}{yellow} [%50c{1.}] - %m %n
        </Property>
    </Properties>

    <!-- 콘솔 로그 설정 -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>
        <Console name="DB_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${DB_LOG_PATTERN}" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="com.rio.report" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework" level="warn" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.resultsettable" level="DEBUG"/>

        <root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </root>
    </Loggers>
</Configuration>
